/* MAIN */
* {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}

.navbar .nav-item {
  font-size: 1.5rem;
  padding-right: 20px;
}

/* HOME */
#home {
  position: relative;
  height: 100vh;
}

#home .primary-overlay {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ABOUT and BOOKS */
.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

/* BOOKS */
#books .card:hover {
  background: #8bdcec;
  color: #fff;
}

#books .card:hover h5 {
  color: #fff;
}

/* VIDEO */
video {
  object-fit: cover;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}