@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* --- Menu ------------------------------ */
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.title {
  align-items: center;
  color: #ffffff;
  letter-spacing: 4px;
  padding-left: 20px;
}

/* nav Menu Items */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100vh);
}

.overlay-slide-up {
  transition: all 0.7s ease-in-out;
  transform: translateY(0vh);
}

.overlay-slide-down {
  transition: all 0.5s ease-in-out;
  transform: translateY(-100vh);
}

nav,
nav ul {
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul {
  position: absolute;
  top: 15vh;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

div li a,
nav li a {
  font-size: 3vh;
  position: relative;
  top: 45%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  display: block;
  text-align: center;
}

nav ul li {
  width: 100%;
  height: 20%;
  overflow: hidden;
}

div li a:hover {
  transform: scale(1.2);
}

.line::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.5s;
}

.active::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #007bff;
  transition: width 0.5s;
}

.active:hover::after,
.line:hover::after {
  width: 95%;
  transform: width 0.5s;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  display: none;
  right: 5vw;
  z-index: 10;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1488994038434-e995b7a4ba35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
  background-attachment: fixed;
  background-position: center left;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.layer {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home {
  background: var(--navColor1);
}

p {
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
  font-family: 'Caveat', cursive;
}

.name {
  font-size: 5rem;
  font-family: 'Teko', sans-serif;
  letter-spacing: 20px;
}

.icon {
  margin-top: 50px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-twitter,.fa-facebook,.fa-instagram,.fa-linkedin,.fa-youtube {
  font-size: 25px;
}

.fa-twitter:hover {
  color: 	#1DA1F2;
  cursor: pointer;
}
.fa-facebook:hover {
  color: #4267B2;
  cursor: pointer;
}
.fa-instagram:hover {
  color: #D6274D;
  cursor: pointer;
}
.fa-linkedin:hover {
  color:  #0e76a8;
  cursor: pointer;
}
.fa-youtube:hover {
  color: #ff0000;
  cursor: pointer;
}
.about,
section#about {
  background-color: var(--navColor2);
}

.skills,
section#skills {
  background-color: var(--navColor3);
}

.projects,
section#projects {
  background-color: var(--navColor4);
}

.contact,
section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (min-width: 100px) {
  .nav {
    display: none;
  }

  h1 {
    font-size: 1em;
  }

  .menu-bars {
    display: inline;
  }
  p {
    font-size: 15px;
  }
  
  .name {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    letter-spacing: 20px;
  }

  .icon {
    padding: 10px 15px;
    width: 150px;
  }

  .fa-twitter,.fa-facebook,.fa-instagram,.fa-linkedin,.fa-youtube {
    font-size: 15px;
  }
}

@media screen and (min-width: 600px) {
  p {
    width: 75%;
    font-size: 17px;
  }

  .name {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 800px) {
  p {
    width: 700px;
    font-size: 20px;
  }

  .name {
    font-size: 3.5rem;
  }

  .icon {
    padding: 10px 20px;
    width: 200px;
  }

  .fa-twitter,.fa-facebook,.fa-instagram,.fa-linkedin,.fa-youtube {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {

  p {
    width: 800px;
    font-size: 25px;
  }

  h1 {
    font-size: 1.5em;
  } 

  .menu-bars {
    display: none;
  }

  .overlay {
    display: none;
  }

  .nav {
    display: inline-block;
  }

  div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  div li a {
    font-size: 1.1em;
    position: static;
    padding-right: 25px;
  }
}