@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
}

/* Header */
header {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.title {
  align-items: center;
  color: #ffffff;
  letter-spacing: 4px;
  padding-left: 20px;
}

/* nav Menu Items */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav ul,
div ul {
  align-items: center;
  margin: 0;
  padding: 0;
}

div ul {
  position: absolute;
  top: 15vh;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

nav li a,
div li a {
  font-size: 3vh;
  position: relative;
  top: 45%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  display: block;
  text-align: center;
}

div ul li {
  width: 100%;
  height: 25%;
  overflow: hidden;
}

nav li a:hover,
div li a:hover {
  transform: scale(1.2);
}

.line::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.5s;
}

.active::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #007bff;
  transition: width 0.5s;
}

.active:hover::after,
.line:hover::after {
  width: 95%;
  transform: width 0.5s;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-100vh);
}

.overlay-slide-down {
  transition: all 0.7s ease-in-out;
  transform: translateY(0vh);
}

.overlay-slide-up {
  transition: all 0.5s ease-in-out;
  transform: translateY(-100vh);
}

/* Hamburger Menu */
.menu-bars {
  position: fixed;
  display: none;
  right: 5vw;
  z-index: 10;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/*  Sections  */
section {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  z-index: 1;
}

/* Home section  */
.layer {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

span {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
}

.home {
  background: var(--navColor1);
}

/* About Section */
section#about {
  height: 70vh;
  background-color: rgba(170, 62, 57, 0.7);
}
.about {
  background-color: var(--navColor2);
}

.aboutUs span {
  position: relative;
  bottom: 6vh;
  left: -6vw;
  writing-mode: vertical-rl;
  transform: rotate(245deg);
  font-size: 2rem;
}

.aboutUs h4 {
  position: relative;
  bottom: 100px;
}

.aboutUs {
  width: 70%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}

/* Float Section */
.float {
  height: 50vh;
}

.float p {
  width: 450px;
}

/* Books Section */
section#books {
  background-color: rgba(35, 98, 103, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* section#books, */

.books {
  background-color: var(--navColor4);
}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 80%;
}

.book {
  margin-top: 10px;
  width: 21%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  border-radius: 5px;
}


img {
  width: 100%;
  height: 70%;
  border-radius: 6px 6px 0 0;
}

.book:hover {
  box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.6);
}

.container {
  font-size: 14px;
  height: 20%;
  text-align: center;
  padding: 5px 16px;
}

.container h5 {
  margin-top: 10px;
  font-style: italic;
}

.buy {
  border: none;
  border-radius: 3px;
  color: var(--navColor4);
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.more:focus, .buy:focus {
  outline: none;
}

.more:hover, .buy:hover {
  border: none;
  background: var(--navColor4);
  color: white;
}

.more {
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  color: var(--navColor4);
  width: 30%;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Contact Section */
section#contact {
  background-color: rgba(44, 132, 55, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact {
  background-color: var(--navColor5);
}

hr {
  width: 90%;
  text-align: center;
}

.contactUs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.address {
  width: 50%;
}

.input {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
}

input {
  width: 48%;
  height: 30px;
  padding: 20px 10px;
  border-radius: 3px;
  border: none;
}

input:focus {
  outline: none;
  background-color: var(--primaryColor);
}

textarea {
  padding: 15px 10px;
  font-size: 20px;
  border: none;
  width: 90%;
  margin-top: 10px;
  height: 250px;
  border-radius: 3px;
  font-family: 'Nunito', sans-serif;
}

textarea:focus {
  outline: none;
}

.send {
  margin-top: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  color: #2c8437;
  font-size: 25px;
  width: 90%;
  padding: 20px;
  cursor: pointer;
}

.send:hover {
  background: rgba(44, 132, 55, 0.7);
  border: none;
  color: white;
}

.send:focus {
  outline: none;
}

address {
  font-size: larger;
}

.icon {
  padding: 0 30px;
  font-size: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.icon a {
  text-decoration: none;
  color: #fff;
}

.fab {
  cursor: pointer;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-facebook:hover {
  color: #4267B2;
}

.fa-instagram:hover {
  color: #D6274D;
}

.fa-youtube:hover {
  color: #ff0000;
}


/* Footer */
footer {
  background: rgba(0, 0, 0, 1);
  color: #fff;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Video bacground */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (min-width: 100px) {

  /* nav */
  nav {
    display: none;
  }

  .menu-bars {
    display: inline;
  }

  /* Header */
  h1 {
    font-size: 13px;
  }

  /* Home Section */
  p {
    width: 270px;
    font-size: 15px;
    padding: 30px;
  }

  span {
    font-size: 2rem;
  }

  /* about Section */
  section#about {
    height: 50vh;
  }

  .aboutUs {
    width: 70%;
    font-size: 11px;
    text-align: justify;
  }

  .aboutUs span {
    bottom: 20px;
    left: 10px;
    font-size: 2vh;
  }

  .aboutUs h4 {
    bottom: 6vh;
  }

  /* Float Section */
  .float {
    height: 30vh;
  }

  .float p {
    width: 300px;
  }

  /* Books Section */
  section#books {
    height: 150vh;
    font-size: 2vw;
  }

  .bookshelf {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .book {
    width: 40%;
    height: 35%;
  }

  img {
    width: 100%;
    height: 58%;
  }

  .container {
    margin-top: 5px;
    text-align: center;
  }

  .container h3 {
    font-size: 10px;
  }

  .container h5 {
    margin-top: 3px;
    font-size: 7px;
    font-style: italic;
  }

  .buy {
    margin-top: 7px;
    font-size: 10px;
    padding: 4px 10px;
  }

  .more {
    margin-bottom: 50px;
    width: 35%;
    font-size: 11px;
    padding: 5px 10px;
  }

  /* Contact Section */
  .contactUs {
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  .address {
    width: 90%;
    margin-top: 10px;
    font-size: smaller;
  }

  address {
    text-align: center;
  }

  input {
    height: 10px;
  }

  textarea {
    font-size: 15px;
    height: 200px;
  }

  .send {
    margin-top: 10px;
    font-size: 17px;
    width: 90%;
    padding: 10px;
  }

  address {
    font-size: small;
  }

  .icon {
    padding: 0 2px;
    font-size: 15px;
    width: 150px;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 500px) {

  /* Header */
  h1 {
    font-size: 1rem;
  }

  /* Home Section */
  p {
    width: 600px;
    font-size: 17px;
  }

  .name {
    font-size: 3.2rem;
    letter-spacing: 15px;
  }

  .contactUs {
    flex-direction: row;
  }

  input {
    width: 48%;
    height: 10px;
  }

  textarea {
    padding: 15px 10px;
    font-size: 15px;
  }

  input {
    height: 20px;
  }

  /* about us section */
  .aboutUs span {
    bottom: 20px;
    left: 10px;
    font-size: 2vh;
  }

  .aboutUs h4 {
    bottom: 6vh;
    font-size: 2vw;
  }
  /* Books Section */
  section#books {
    height: 150vw;
    font-size: 2vw;
  }

  .bookshelf {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .book {
    height: 40%;
  }

  img {
    height: 70%;
  }

  .container h3 {
    font-size: 12px;
  }

  .container h5 {
    margin-top: 3px;
    font-size: 8px;
  }

  .buy {
    font-size: 13px;
  }

  .more {
    margin-bottom: 30px;
    font-size: 13px;
    padding: 5px 10px;
  }

}

@media screen and (min-width: 700px) {

  /* Home Section */
  p {
    width: 700px;
    font-size: 20px;
  }

  span {
    font-size: 4rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .icon {
    padding: 0 5px;
    font-size: 25px;
    justify-content: space-around;
  }

  input {
    height: 30px;
  }

  textarea {
    font-size: 15px;
    height: 250px;
  }
}

@media screen and (min-width: 1000px) {

  p {
    width: 800px;
    font-size: 25px;
  }

  h1 {
    font-size: 1.5em;
  }

  .menu-bars {
    display: none;
  }

  .overlay {
    display: none;
  }

  nav {
    display: inline-block;
  }

  nav li a {
    padding-right: 25px;
  }

  .icon {
    padding: 0 5px;
    font-size: 30px;
    justify-content: space-around;
  }
}