@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* --- Menu ------------------------------ */
.header {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.title {
  align-items: center;
  color: #ffffff;
  letter-spacing: 4px;
  padding-left: 20px;
}

/* nav Menu Items */
nav,
nav ul {
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
  /* padding-right: 20px; */
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

nav li a {
  font-size: 2.5vh;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  padding-right: 15px;
}

nav li a:hover {
  transform: scale(1.15);
}

.line::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.5s;
}

.active::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #007bff;
  transition: width 0.5s;
}

.active:hover::after,
.line:hover::after {
  width: 95%;
  transform: width 0.5s;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  display: none;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("https://images.unsplash.com/photo-1488994038434-e995b7a4ba35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80");
  background-attachment: fixed;
  background-position: center left;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (min-width: 100px) {

  .nav {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(0vw);
  }

  .overlay-slide-right {
    transition: all 0.8s ease-in-out;
    transform: translateX(+20vw);
  }

  .overlay-slide-left {
    transition: all 0.4s ease-in-out;
    transform: translateX(0vw);
  }

  h2 {
    font-size: 15px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 10vw;
  }

  .menu-bars {
    right: 5vw;
  }

  .menu-bars {
    display: inline;
  }

  nav {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  nav ul {
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 85vh;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }

  nav ul li {
    width: 100%;
    height: 20%;
    overflow: hidden;
  }

  nav li a {
    font-size: 2vw;
    position: relative;
    top: 45%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 0;
  }

  .home {
    background: var(--navColor1);
  }

  .about {
    background: var(--navColor2);
  }

  .skills {
    background: var(--navColor3);
  }

  .projects {
    background: var(--navColor4);
  }

  .contact {
    background: var(--navColor5);
  }

  nav li a:hover {
    transform: scale(1);
  }
}

@media screen and (min-width: 425px) {
  h2 {
    font-size: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 5vw;
  }

  .menu-bars {
    right: 7.5vw;
  }
}

@media screen and (min-width: 566px) {
  .overlay {
    width: 130px;
    transform: translateX(+130px);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
  }

  .menu-bars {
    right: 50px;
  }

  nav li a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {

  .menu-bars {
    display: none;
  }

  .overlay {
    display: none;
  }

  .nav {
    display: inline-block;
  }

  div,
  div ul {
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 0;
    /* padding-right: 20px; */
  }

  div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  div li a {
    font-size: 2.5vh;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    display: block;
    text-align: center;
    padding-right: 15px;
  }

  div li a:hover {
    transform: scale(1.15);
  }

}